/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

app-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1180px;
    margin: auto;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

main {
    padding: 20px;
}

a {
    color: #c2195a;
    text-decoration: none;
}

mat-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-card-title h1 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

mat-form-field {
    margin-bottom: 5px;
}

.clickable {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.film-poster img {
    width: 100%;
}
